* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;

}
input,textarea,select{
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "Circular-Std-Regular", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:980px;
}
@font-face {
	font-family: 'Circular-Std-Regular';
	src:url('../fonts/CircularStd-Regular.woff2') format('woff2');
	src:url('../fonts/CircularStd-Regular.woff') format('woff');
	font-style: normal;
}
@font-face {
    font-family: 'Circular-Std-Bold';
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
    src: url("../fonts/CircularStd-Bold.woff") format("woff");
    font-style: normal
}
::placeholder {
  color:#D3CFCB;
}
#container{
	background: url(../images/bg.png) no-repeat;
	background-size:cover;
	width: 100vw;
	height: 125vh;
}
header{
	width: 100%;
	padding-top: 20px;
}
header section.wrapper{
	display: flex;
	justify-content: space-between;
}
header div.left{
	display: flex;
	align-items: center;
}
header div.left div.img{

}
header div.left div.img img{

}
header div.left nav{
	margin-left: 40px;
}
header div.left nav ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
header div.left nav ul li{
	margin-right: 30px;
	font-size: 11px;
	color: #dfdfdf;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header div.left nav ul li div.img{
	width: 10px;
}
header div.left nav ul li div.img img{
	display: block;
	width: 100%;
}
header div.left nav ul li a{
	color:#fff;
}
header div.left nav ul li img{

}
header div.right{
	display: flex;
	justify-content: space-between;
	align-items: center;	
	
}
header div.right a p{
	margin-right: 15px;
	color: #fff;
}
header div.right a.button{
	background: #2dca73;
	color: #fff;
	border-radius: 4px;
	padding: 10px 10px;
}
#spotlight {
	margin-top: 15%;
}
#spotlight section.wrapper{

}
#spotlight section.wrapper h1{
	text-align: center;
	font-size: 40px;
	color: #fff;
	font-weight: 600;
	margin-bottom: 10px;
}
#spotlight section.wrapper p{
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
}
#spotlight section.wrapper form{
	background: white;
	padding: 15px 0px;
	width: 50%;
	text-align: center;
	margin: 0 auto;
}
#spotlight section.wrapper form input {
	border: 1px solid #2dca73;
	border-radius: 4px;
	padding: 6px 20px;
	width: 72%;
}
#spotlight section.wrapper form input.button{
	background: #2dca73;
	color: #fff;
	padding: 6px 20px;
	border-radius: 4px;
	width: 20%;
}
@media all and (max-width:720px) {
	#spotlight section.wrapper h1 {
		font-size:  35px; 
	}
	#spotlight section.wrapper form input.button{
		width: 25%;
	}
	#spotlight section.wrapper form{
		padding: 8px 9px;
	}
	header div.right a.button{
		padding: 4px 7px;
	}
}
@media all and (max-width:640px){
	#spotlight {
		margin-top: 29%;
	}
	header div.left nav{
		display: none;
	}
	#spotlight section.wrapper h1 {
		font-size: 28px;
	}
	#spotlight section.wrapper p {
		margin-bottom: 20px;
		font-size: 12px;
	}
	#spotlight section.wrapper form input {
		padding: 1px 20px;
		width: 72%;
	}
	#spotlight section.wrapper form input.button  {
		padding: 2px 3px;
	}
	#spotlight section.wrapper form {
		padding: 6px 12px;
	}
}
@media (max-width: 480px){
	#spotlight section.wrapper h1 {
    	font-size: 20px;
	}
	#spotlight section.wrapper p {
		font-size: 7px;
	}
	header div.left div.img img {
		width: 56%;
	}
	header div.right a p {
		margin-right: 15px;
		color: #fff;
		font-size: 15px;
	}
	header div.right a.button {
		padding: 4px 5px;
		font-size: 12px;
	}
	#spotlight section.wrapper form {
		padding: 6px 12px;
		width: 57%;
		background: none;
	}
	#spotlight section.wrapper form input {
		padding: 1px 2px;
		width: 72%;
	}
	#spotlight section.wrapper form input.button {
		padding: 4px 4px;
		font-size: 9px;
	}
		
}
@media (max-width: 320px){
	#spotlight section.wrapper form {
		padding: 0px 7px;
		width: 53%;
		background: none;
	}
	#spotlight section.wrapper form input {
		width: 71%;
	}
	#spotlight section.wrapper form input {
		padding: 3px 6px;
		font-size: 10px;
	}
	#spotlight {
		margin-top: 54%;
	}

}
